# Filesystem support required to find the ISO volume.
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod udf

# Use the graphical KaskadOS theme bundled with the ISO.
insmod all_video
insmod gfxterm
insmod png
set gfxmode="1920x1080,1600x900,1366x768,1280x720,1024x768,auto"
terminal_input console
if loadfont "${prefix}/fonts/unicode.pf2"; then
    terminal_output gfxterm
else
    terminal_output console
fi
loadfont "/boot/grub/theme/terminus-14.pf2"
loadfont "/boot/grub/theme/ubuntu_regular_17.pf2"
loadfont "/boot/grub/theme/ubuntu_regular_20.pf2"
if [ -f "/boot/grub/theme/theme.txt" ]; then
    set theme="/boot/grub/theme/theme.txt"
    export theme
fi

set default=kaskados
set timeout=5
set timeout_style=menu

menuentry "Начать установку" --class arch --class gnu-linux --class gnu --class os --id kaskados {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
