# Boot KaskadOS when the ISO itself is opened through another GRUB instance.
search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

set default=kaskados
set timeout=5
set timeout_style=menu

menuentry "Начать установку" --class arch --class gnu-linux --class gnu --class os --id kaskados {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}"
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
